.characterCard {
    border-radius: 5px;
    border: 1px solid lightgrey;
    padding: 20px;
    width: 32%;
    margin-right: 10px;
    background-color: white;
    margin-bottom: 20px;
    position: relative;

    label {
        font-weight: light;
        color: grey;
        display: block;
        width: 100%;
        margin-top: 10px;
    }

    button {
        position: absolute;
        right: 20px;
        top: 20px;
    }

    .films {
        width: 100%;
        display: flex;
        flex-direction: column;

        .film {
            width: 100%;
            display: block;
            padding: 10px;
            border-radius: 5px;
        }
    }
}
